pypdf
uvicorn
starlette
langchain
langgraph
langchain-community
langchain-aws
boto3
qdrant-client
pydantic
tiktoken
unstructured
python-dotenv
botocore
mypy-boto3-textract
boto3-stubs[s3,dynamodb]
mypy-boto3-s3
mypy-boto3-dynamodb
fastapi
mypy-boto3-sqs
aiokafka
pandas
